@import '../../main';

* {}

.main {
    position: absolute;
    top: 0;
    left: 50px;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    background-color: #0B2447;


    .title {
        color: $movieTitle;
        margin-top: 30px;
        margin-left: 50px;

    }
}

.container {
    max-width: 1690px;
    margin-left: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    @media screen and (max-width:768px) {
        & {
            margin-left: 0;
        }
    }

    .image-cover {
        width: 100%;
        height: 80%;
        border-radius: 8px;
        // background-size: cover;
        transition: 0.3s;
        background-position: center center;
        background-size: cover;

        &:hover {

            transform: scale(1.05);
        }
    }

    .box-title {
        margin-top: 10px;
        color: white;
    }

    .box {
        position: relative;
        margin: 10px;
        width: 400px;
        height: 300px;
        transition: 0.3s;
        cursor: pointer;

        .book {
            opacity: 0;
            color: white;
            background-color: #ffcc00;
            padding: 10px 20px;
            border-radius: 10px;
            position: absolute;
            bottom: 80px;
            right: 20px;
            z-index: 10;
            transition: 0.3s;
            cursor: pointer;

        }
        &:hover {
            .book {
                opacity: 1;
            }
        }
    }
}

.detailed {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 680px;
    background-color: #0B2447;
    box-shadow: 0 0 40px 0.1px rgba(0, 0, 0, 0.452);
    border-radius: 20px;
    z-index: 10;
    transform: translate(-50%, -50%) translateY(0%);
    padding: 20px;
    display: none;

    h1 {
        color: white;
    }

    p {
        margin-top: 10px;
        color: #6965f0;

        span {
            color: white;
        }
    }

    .detailed-image {
        width: 100%;
        height: 70%;
        background-size: cover;
        background-position: center center;
        border-radius: 15px;
    }

    .description {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 10px;
    }

    .actions-buttons {
        float: right;

        button {
            cursor: pointer;
            border-radius: 10px;
            color: white;
            padding: 10px;
            font-size: 20px;
            background-color: #ffcc00;
        }
    }
}

.main-slider {
    display: flex;
    border-radius: 10px;
    height: 300px;
    margin-left: 50px;
    justify-content: center;
    width: 1680px;
    margin-top: 50px;

    .swiper-slide {
        border-radius: 5px;
        background-size: cover;
    }
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.458);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    display: none;
}

.overlay-active {
    display: block;
}

.active-detailed {
    display: block;
}